body {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1%
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15%;
}

.card {
    text-align: center;
}

div a {
    text-decoration: none;
    color: black;
}

