body {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1%
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15%;
}

.card {
    display: none;
}

#start-page {
    text-align: center;
}


